#all {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 290px;
}

#navbar_ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#logo_search {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#searchline {
    width: auto;
    max-width: 584px;
    border: 1px solid;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 272px;
    height: 92px;
}

#search_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#lang {
    margin: 0 auto;
}

p {
    text-align: center;
}

footer {
    background-color: gray;
}

#foot1 {
    padding: 15px 30px;
    border-bottom: 1px solid;
    font-size: 15px;
}

#footer23 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


#foot2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#foot3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.afoot {
    display: block;
    padding: 15px;
    text-decoration: none;
    white-space: nowrap;
}
