#all {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 290px;
    height: 50px;
}

#navbar_ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding-right: 15px;
    display: inline-block;
    text-align: center;
}

#navbar_li {
    display: inline;
    margin-left: 10px;
    color: gray;
}

a:link {
    color: rgb(41, 39, 39);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#app_button {
    display: inline-block;
    text-align: center;
    padding: 10px 10px 10px 10px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
    font-size: 15px;
    
}

#app_button:hover {
    background-color: rgb(231, 228, 228);
}

#sign_in_button {
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    color: white;
    background-color: #2b7de9;
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px 10px 10px 10px;
    font-size: 15px;
}

#sign_in_button:hover {
    background-color: #8db8f1;
}

#logo_search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#searchline_icon {
    display: inline-block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    height: 44px;
    border: 1px solid rgb(226, 222, 222);
    border-radius: 24px;
    margin-bottom: 20px;
}

#searchline_icon:hover {
    box-shadow: 0px 0px 5px gray;
}

i {
    color:gray;
    margin-left: 10px;
    margin-right: 10px;
}

#searchline {
    width: auto;
    max-width: 540px;
    border-style: none;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 20px;
}

#searchline:focus {
    outline: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 272px;
    height: 92px;
}

#search_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
}

.srch_but {
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: rgb(238, 238, 238);
    border-style: 1px none none none;
    border-radius: 5px;
    padding: 10px 10px;
    color:rgb(61, 61, 61);
}

.srch_but:hover {
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
}

#lang {
    margin: 0 auto;
}

p {
    text-align: center;
}

footer {
    background-color: gray;
}

#foot1 {
    padding: 15px 30px;
    border-bottom: 1px solid;
    font-size: 15px;
}

#footer23 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


#foot2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#foot3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.afoot {
    display: block;
    padding: 15px;
    text-decoration: none;
    white-space: nowrap;
}
